{% extends "./base.html" %}

{% block title %}伞兵作战模拟系统{% endblock %}

{% block extra_head %}
    {% load static %}
    <script src="{% static "main/js/phaser.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid px-5" style="margin-top:90px;margin-bottom: 30px">
        <div class="row my-2 mx-5" >
            <div class="col p-0 d-flex justify-content-center">
                <iframe class="border border-primary" src="{% url 'main:game' 'game' %}" style="width:1622px;height: 823px;" allowfullscreen></iframe>
                <!--<div class="embed-responsive embed-responsive-1by1">
                    <iframe class=" embed-responsive-item" src="{% url 'main:game' 'game' %}" allowfullscreen></iframe>
                </div>-->
            </div>
            <!--<div class="col-3">hello world</div>-->
        </div>
    </div>
{% endblock %}
