{% extends "./base.html" %}

{% block title %}房间成员{% endblock %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static "main/css/style.css" %}" type="text/css" />
{% endblock %}

{% block content %}
    <br><br><br>
<div class="bodyCon08"><!--学员-->
    <div class="students">

        <div id="four_flash">
            <div class="flashBg">
                <ul class="mobile">
                    <li>
                        <img src="{% static "main/images/senke_xy03.jpg" %}" />
                        <dd>寻寻觅觅</dd>
                        <p>用于友军</p>
                        <a href="/room?r=1"></a>
                    </li>
                    <li>
                        <img src="{% static "main/images/senke_xy01.jpg" %}" />
                        <dd>冷冷清清</dd>
                        <p>用于敌军</p>
                        <a href="/room?r=2"></a>
                    </li>
                    <li>
                        <img src="{% static "main/images/senke_xy04.jpg" %}" />
                        <dd>凄凄惨惨戚戚</dd>
                        <p>凑数</p>
                        <a href="/room?r=3"></a>
                    </li>
                </ul>
            </div>
            <div class="but_left"><img src="{% static "main/images/qianxleft.png" %}" /></div>
            <div class="but_right"><img src="{% static "main/images/qianxr.png" %}" /></div>
        </div>

    </div>
</div>
<script type="text/javascript" src="{% static "main/js/jquery.min.js" %}"></script>
<script type="text/javascript">
//学员
var _index5=0;

$("#four_flash .but_right img").click(function(){
	_index5++;
	var len=$(".flashBg ul.mobile li").length;
	if(_index5+5>len){
		$("#four_flash .flashBg ul.mobile").stop().append($("ul.mobile").html());
	}
	$("#four_flash .flashBg ul.mobile").stop().animate({left:-_index5*326},1000);
});

$("#four_flash .but_left img").click(function(){
	if(_index5==0){
		$("ul.mobile").prepend($("ul.mobile").html());
		$("ul.mobile").css("left","-1380px");
		_index5=6
	}
	_index5--;
	$("#four_flash .flashBg ul.mobile").stop().animate({left:-_index5*326},1000);
});
</script>
{% endblock %}
